.container {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 5px solid yellow;
    width: 500px;
    flex-wrap: wrap;
}

.f_item {
    background-color: rgba(255 255 255 / 0.25);
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 150ms ease;
}

.f_item:hover {
    background-color: rgba(255 255 255 / 0.75);
}

@media (min-width: 56.25em) { /* 900px */
    .container {
        flex-direction: row;
    }
}