body.container {
    background-color: rgb(95, 95, 95);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main {
    flex: 1;
}

.sidebar, 
.ads {
    flex-basis: 100px;
}

.style {
    background-color: #949494;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
    margin: 5px;
    padding: 10px;
    transition: all 150ms ease;
}

.style:hover {
    background-color: #e2e2e2;
}

@media (min-width: 56.25em) { /* 900px */
    .container {
        flex-direction: row;
    }
    .sidebar {
        order: -1;
    }
}