.container {
    background-color: rgb(95, 95, 95);
    border-radius: 5px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.menu_item {
    flex: 1 1 200px;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_link {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

.style {
    background-color: #949494;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
    margin: 5px;
    padding: 10px;
    transition: all 150ms ease;
}

.style:hover {
    background-color: #e2e2e2;
}

@media (min-width: 53.125em) { /* 850px */
    .menu_item {
        flex-basis: 100px;
    }
}