.container {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
    display: flex;
    border: 5px solid black;
    width: 400px;

}

.f_item {
    background-color: rgba(255 255 255 / 0.25);
    border-radius: 5px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    width: 150px;
    text-align: center;
    transition: all 150ms ease;
    flex-shrink: 1;
}
.f_item:nth-child(1) {
    flex-shrink: 2;
}

.f_item:nth-child(3) {
    flex-shrink: 2;
}


.f_item:hover {
    background-color: rgba(255 255 255 / 0.75);
}

@media (min-width: 56.25em) { /* 900px */
    .container {
        flex-direction: row;
    }
}